{% extends "FrontBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Yootel Vérification de l'adress email{% endblock %}
{% block body %}
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>Yoo</b>tel</a>
		</div>
		<div class="login-box-body">
			<h1>Confirmation</h1>
			<div class="row">
				<div class="col-lg-12">
					<p>Bienvenue chez Custom My Art !</p>
					<p>Pour activer votre compte, veuillez confirmer votre adresse e-mail en vous rendant dès à présent dans votre boite de réception.</p>
					<p>À tout de suite sur CMA !</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}